body{
  overflow-x: hidden;
  overflow-y: auto;
  margin:0;
  padding:0;
}

a{
  text-decoration: none;
}


h1,h2,h3,h4,h5,h6{
  color: #1f2329;
  font-weight: normal;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p,ul,li{
  color: #1f2329;
}

ul,li{
  margin:0;
  padding:0;
}

blockquote{
  margin: 16px 40px 16px 0px;
  padding-left:5px;
  border-left: 2px solid #646a73;
  line-height: 26px;

  h1,h2,h3,h4,h5,h6,p,ul,li {
    color: #646a73;
  }
}

img{
  max-width: 100%;
  max-height: 100%;
}

