body{
  overflow-x: hidden;
  overflow-y: auto;
  margin:0;
  padding:0;
}

a{
  text-decoration: none;
}


h1,h2,h3,h4,h5,h6{
  color: #606060;
  font-weight: normal;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p,ul,li{
  color: #606060;
}

blockquote{
  margin: 16px 40px 16px 28px;
  padding-left:9px;
  border-left: 3px solid #e74c3c;
}