.color-bar{
  margin-left: -10px;
  border: none;
  font-size: 0px;
}

.bar {
  border: none;
  display: inline-block;
  width: 16.6667%;
  padding: 0;
}


.bar1 {
  border-top: 5px solid #3498db;
}
.bar2 {
  border-top: 5px solid #e74c3c;
}
.bar3 {
  border-top: 5px solid #2ecc71;
}
.bar4 {
  border-top: 5px solid #f1c40f;
}
.bar5 {
  border-top: 5px solid #95a5a6;
}

.bar6 {
  border-top: 5px solid #9b59b6;
}