---
---

@import 'base';
@import 'fonts';
@import 'head';
@import 'syntax-highlighting';

.contents {
  background-color: #fff;
  min-height: 800px;
  height: 100%;
  width:100%;
}

.page-content {
  width: 60%;
  margin: 0 auto;
  border-left: 2px solid #4fba6f;
  padding: 0 20px 0 20px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  @media screen and (max-width: 768px) {
    width: 100%;
    border: none;
    padding:0;
  }
  /* PC上展示时，页面宽度大于1150px时，目录在左侧展示 */
  @media screen and (min-width:1150px){
    width: calc(100% - 350px);
    margin: 0;
    margin-left: 350px;
    box-sizing: border-box;
  }
}




.wrapper{
  margin:0 10px;
}

.post-title {
  font-size: 28px;
  color: #9b59b6;
}

.post-content{
  color: #1f2329;
}

.post-content  ul{
  padding-left:30px;
  //list-style-type:disc;
  @media screen and (max-width:768px){
    padding-left:20px;
  }
}

/* PC上展示时，页面宽度大于1150px时，目录在左侧展示 */
@media screen and (min-width:1150px){
  .post-content .category {
    display: none;
  }
  .post-content .category+ul {
    position: fixed;
    top: 120px;
    left: 10px;
    bottom: 50px;
    max-width: 300px;
    width: max-content;
    overflow-y: scroll;
  }

  .post-content .category+ul::-webkit-scrollbar {
    display: none; /* Chrome Safari */
  }
}


.post-content img[alt~="@2x"] {
  zoom: 50%;
}


a {
  color:#4d85d1;
  text-decoration: underline;
}

h3{
  font:normal 23px/1 "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-bottom: 3px solid #e74c3c;
  margin: 50px 0 24px;
  background-color: #f8f8f8;
  line-height: 45px;
  padding-left: 5px;
}

h4{
  font:normal 20px/1 "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-bottom: 3px solid #e74c3c;
  margin: 30px 0 10px;
  line-height: 30px;
  padding-left: 5px;
  width: max-content;
}

h5{
  font:normal 18px/1 "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-left: 6px solid #e74c3c;
  padding-left: 5px;
}

h6{
  border-left: 3px solid #e74c3c;
  padding-left: 3px;
  font:normal 16px/1 "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p,ul,li{
  font-size:16px;
  line-height:25px;
}

.table{
  margin:0 auto;
  border-collapse: collapse;
  th{
    border-bottom: 2px solid #ddd;
    padding: 7px 20px;
    line-height: 1.4;
  }
  td{
    border-top: 1px solid #ddd;
    padding: 7px 20px;
    line-height: 1.4;
  }
  @media screen and(max-width:768px){
    th {
      padding: 7px 10px;
    }
    td{
      padding: 7px 10px;
    }
  }

  /* 表格第一列不换行 */
  tr th:nth-of-type(1), tr td:nth-of-type(1) {
    width: max-content;
    white-space: nowrap;
  }
}


.references{
  margin-top: 60px;
  margin-bottom: 15px;
  font-size: 23px;
  line-height: 32px;
  border-bottom: 2px solid #95a5a6;
  background-color: #f8f8f8;
  display: inline-block;
  /*
  @media screen and(max-width:768px){
    width: 105px;
  }
  */
}
