---
---

@import 'base';
@import 'fonts';
@import 'head';
@import 'syntax-highlighting';

.contents {
  background-color: #fff;
  //min-height: 800px;
  height: 100%;
  width:100%;
}

.page-content {
  width: 60%;
  margin: 0 auto;
  border-left: 2px solid #4fba6f;
  padding: 0 20px 0 20px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  @media screen and (max-width: 768px) {
    width: 100%;
    padding:0;
    border: none;
  }
}

.post-list {
  list-style: none;

  h3{
    font-size: 21.5px;
  }
  > li{
    padding: 1px 10px 10px 10px;
    overflow:hidden;
  }
}

.post-link{
  color: #9b59b6;
  font-weight:normal;
}

.post-excerpt{
  color: #000;
  h3,h4{
    font-size: 16px;
  }
  p,li{
    font-size: 15px;
  }
}

.more{
  float:right;
  box-sizing: content-box;
  text-decoration:none;
  color: #3498db;
  border-right: 1px solid #3498db;
  border-bottom: 1px solid #3498db;
  padding: 5px 14px 4px 15px;
  font:14px/14px "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}

.more:hover{
  transition:all 0.3s;
  background:#3498db;
  color: #fff;
}



